// Descriptive Colors
$white: #ffffff;
$blue: #3f51b5;
$red: #dc143c;
$grey: #bbbbbb;
$light-grey: #eeeeee;
$green: #7CB342;
$gray: #ececec;

// Functional Colors
$primary--color: $green;
$secondary--color: $white;
$gray--color: $gray;
