@import './variable.scss';
@import './customer-design.scss';
@font-face {
  font-family: iCielMarketSans-Bold;
  src: url('../../assets//fonts//iCielMarketSans-Bold.ttf') format("opentype");
}

@font-face {
  font-family: iCielMarketSans-Regular;
  src: url('../../assets//fonts//iCielMarketSans-Regular.ttf') format("opentype");
}

@font-face {
  font-family: iCielMarketSans-SemiBold;
  src: url('../../assets//fonts//iCielMarketSans-SemiBold.ttf') format("opentype");
}

* {
  font-family: 'Noto Sans JP', sans-serif,;
}

/* remove effect when tap for mat-inpit  */
.mat-form-field, .mat-dialog-container {
  -webkit-tap-highlight-color: transparent;
}
// mat-form-field.mat-form-field {
//   font-size: 1rem;
// }

.text-center {
  text-align: center;
}


// override material angular typography
.mat-display-1,
.mat-display-2,
.mat-display-3,
.mat-headline,
.mat-title,
.mat-subheading-1,
.mat-subheading-2,
.mat-body-2,
.mat-body-1,
.mat-caption {
  margin: 0px;
}

.mat-button {
  padding: 0px;
}

.mat-button-2 {
  font-size: 0.9rem;
}

.title-dialog__big {
  font-size: 14px;
  font-weight: bold;
}

