@import '~@angular/material/theming';

$theme-primary-color: mat-palette($mat-light-green, 600);
$theme-accent-color:  mat-palette($mat-blue, 400);
$theme-warn-color:    mat-palette($mat-deep-orange, 300);