<div style="position:relative;">

    <img style=" border-radius: 10px 10px 10px 10px; 
                      width: auto;
                      height: 700px" src="../../../../assets/images/Artboard 27.png">

    <div style="position:absolute;
                       width:100%;
                       top:0; 
                       font-size:17px;
                       z-index:5;">
        <h3 style="color:#2B821F; font-size:3vw; 
                    margin-top: 100px; 
                    margin-left: 50px">Tìm hiều <br> của giá trị thực phẩm bị lãng phí</h3>
        <h4 style="margin-left: 50px; margin-top: 20px; line-height: 1.6;">87% người được khảo sát thừa nhận lãng phí 2
            đĩa thức ăn trên 1 tuần<br>
            Lãng phí thực phẩm là lãng phí thời gian, nhân công, tài nguyên <br> thiên nhiên và tiền bạc.</h4>
        <h4 style="padding-left: 50px; margin-top: 20px; line-height: 1.6;
             padding-top: 20px; padding-bottom: 20px; color: white; background-color: #2B821F;
             width: 55%; ">"Kéo thanh trượt để xem gia đình bạn<br>
            có thể tiếc kiệm được bao nhiêu tiền"</h4>
        <ul style="display: flex;">
            <li style="margin-right: 30px">
                <h3 style="font-size:3vw; 
                    margin-top: 40px; 
                    margin-left: 50px">Tuần<br>$1</h3>
            </li>

            <li style="display: flex; margin-right: 30px"> 
                <div style="margin-right: 20px; margin-top: 40px; height: 100px; width: 2px; background-color: black"></div>
                <h3 style="font-size:3vw; 
                    margin-top: 40px;">Tháng<br>$1</h3>
            </li>
            <li style="display: flex;">
                    <div style="margin-right: 20px; margin-top: 40px; height: 100px; width: 2px; background-color: black"></div>
                    <h3 style="font-size:3vw; 
                        margin-top: 40px;">Năm<br>$1</h3>
                </li>
    
        </ul>
    </div>