<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v4.0&appId=132176750647545&autoLogAppEvents=1"></script>

<div class="row" style="height: 1000px; background-color: #D6D6D6; padding-top: 50px;">
    <div style="text-align: center; margin-bottom: 50px;"> <h1 style="color: #2B821F; font-size:5vw">Cộng đồng</h1></div>
    <div class="column" style="background-color:#aaa;">
        <div class="fb-post" data-href="https://www.facebook.com/20531316728/posts/10154009990506729/" data-width="500"
            data-show-text="true">
            <blockquote cite="https://developers.facebook.com/20531316728/posts/10154009990506729/"
                class="fb-xfbml-parse-ignore">Người đăng: <a href="https://www.facebook.com/facebook/">Facebook</a>
                vào&nbsp;<a href="https://developers.facebook.com/20531316728/posts/10154009990506729/"></a></blockquote>
        </div>
    </div>
    <div class="column" style="background-color:#bbb; margin-left: 4%; margin-right: 4%;">
        <div class="fb-post" data-href="https://www.facebook.com/20531316728/posts/10154009990506729/" data-width="500"
            data-show-text="true">
            <blockquote cite="https://developers.facebook.com/20531316728/posts/10154009990506729/"
                class="fb-xfbml-parse-ignore">Người đăng: <a href="https://www.facebook.com/facebook/">Facebook</a>
                vào&nbsp;<a href="https://developers.facebook.com/20531316728/posts/10154009990506729/"></a></blockquote>
        </div>
    </div>
    <div class="column" style="background-color:#ccc;">
        <div class="fb-post" data-href="https://www.facebook.com/20531316728/posts/10154009990506729/" data-width="500"
            data-show-text="true">
            <blockquote cite="https://developers.facebook.com/20531316728/posts/10154009990506729/"
                class="fb-xfbml-parse-ignore">Người đăng: <a href="https://www.facebook.com/facebook/">Facebook</a>
                vào&nbsp;<a href="https://developers.facebook.com/20531316728/posts/10154009990506729/">
                    Thứ Năm, 27 tháng 8, 2015</a></blockquote>
        </div>
    </div>

</div>