<waste-zero-header></waste-zero-header>
<waste-zero-content></waste-zero-content>
<waste-zero-background-video></waste-zero-background-video>
<waste-zero-trash-can></waste-zero-trash-can>
<waste-zero-community></waste-zero-community>
<waste-zero-footer></waste-zero-footer>