<div style="height: 650px;" class="image_backgroud">

    <ul style="display: flex;">
        <li>
            <iframe style="margin-left: 50px; 
                margin-top: 150px;"
                width="650px" height="350px" src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </li>

        <li style="margin-top: 50px; margin-left: 50px;">
                <img width="520px" height="520px" src="../../../../assets/images/Artboard 10.png"/>
        </li>
    </ul>


</div>