
<div style="padding-left: 100px; padding-right: 100px; padding-top: 30px; padding-bottom: 30px;">
    <ul style="display: flex;">
        <li>
            <label>Đơn vị tiên phong</label>
        </li>
        <li style="margin-left: 44%">
            <label>Đối tác đồng hành</label>
        </li>
    </ul>

    <ul style="display: flex; margin-top: 10px;">
        <li>
            <div style="display: flex;">
                <img style="height: 70px; width: 70px;" src="../../../../assets/images/Artboard 30.png" />
                <div style="height: 120; width: 1px; background-color: red; margin-left: 10px;"></div>
            </div>
        </li>

        <li>
            <div>
                <ul style="display: flex; margin-left: 15px; ">
                    <li><img class="image_footer" src="../../../../assets/images/Artboard 31.png" /></li>
                    <li><img class="image_footer" src="../../../../assets/images/Artboard 32.png" /></li>
                    <li><img class="image_footer" src="../../../../assets/images/Artboard 33.png" /></li>
                    <li><img class="image_footer" src="../../../../assets/images/Artboard 34.png" /></li>
                    <li><img class="image_footer" src="../../../../assets/images/Artboard 35.png" /></li>
                    <li><img class="image_footer" src="../../../../assets/images/Artboard 36.png" /></li>
                    <li><img class="image_footer" src="../../../../assets/images/Artboard 37.png" /></li>
                    <li><img class="image_footer" src="../../../../assets/images/Artboard 38.png" /></li>
                    <li><img class="image_footer" src="../../../../assets/images/Artboard 39.png" /></li>
                </ul>
                <ul style="display: flex; margin-left: 15px;">
                    <li><img class="image_footer" src="../../../../assets/images/Artboard 40.png" /></li>
                    <li><img class="image_footer" src="../../../../assets/images/Artboard 41.png" /></li>
                    <li><img class="image_footer" src="../../../../assets/images/Artboard 42.png" /></li>
                    <li><img class="image_footer" src="../../../../assets/images/Artboard 44.png" /></li>
                    <li><img class="image_footer" src="../../../../assets/images/Artboard 44_1.png" /></li>
                    <li><img class="image_footer" src="../../../../assets/images/Artboard 45.png" /></li>
                    <li><img class="image_footer" src="../../../../assets/images/Artboard 46.png" /></li>
                    <li><img class="image_footer" src="../../../../assets/images/Artboard 48.png" /></li>
                </ul>
            </div>
        </li>

        <li>
            <ul style="display: flex; margin-left: 50px;">
                <img width="150px" height="50px" src="../../../../assets/images/Artboard 49.png" />
                <img style="margin-left: 20px;" width="150px" height="50px"
                    src="../../../../assets/images/Artboard 50.png" />
                <img style="margin-left: 20px;" width="150px" height="50px"
                    src="../../../../assets/images/Artboard 51.png" />
            </ul>

        </li>
    </ul>
</div>