<waste-zero-carousel>
  <carousel>
    <ng-container *ngFor="let item of items;">
      <ng-container *carouselItem>
        <div class="item">{{item.title}}</div>
      </ng-container>
    </ng-container>
  </carousel>
</waste-zero-carousel>
