.waste-zero-header {
  font-family: iCielMarketSans-Bold;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}